.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  min-height: 100vh;
}

.cover-section {
  display: flex;
  flex:1;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('../assets/images/cover.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

.cover-header {
  height: 60px;
  display: flex;
  flex-direction: row;
}

.cover-content {
  display: flex;
  min-height: 40vh;
  align-items: flex-end;
  padding-left: 80px;
  padding-bottom: 64px;
  background-image: url('../assets/images/wave.svg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}

.cover-title {
  display: flex;
  align-items: center;
  padding-left: 80px;
}

.title-box {
  display: flex;
  flex-direction: column;
}

.logo-box {
  display: flex;
  flex:1;
  align-items: center;
  justify-content: flex-start;
  padding-left: 24px;
}

.nav-box {
  display: flex;
  flex:2;
  align-items: center;
}

.action-box {
  display: flex;
  flex:1;
  align-items: center;
  justify-content: flex-end;
  padding-right: 24px;

}

.content-section {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
}

.content-section-body {
  display: flex;
  flex: 4;
}

.content-section-left {
  display: flex;
  flex: 3;
  flex-direction: column;
}

.content-section-left-title {
  display: flex;
  flex:1;
  align-items: center;
  justify-content: flex-start;
  padding-left: 80px;
}

.content-section-left-image {
  display: flex;
  flex:3;
  justify-content: flex-start;

}


.content-section-right {
  display: flex;
  flex: 2;
}

.content-section-footer {
  display: flex;
  flex: 1;
  background: linear-gradient(164deg, rgba(235,235,235,1) 0%, rgba(114,70,206,1) 100%);
}

.desktop-wrapper {
  display: flex;
  width: 50%;
  height: 75vh;
  position: absolute;
  bottom: 50px;
  left: 60px;
  background-image: url('../assets/images/desktop.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: local; 
  background-size: cover;
}

.diamond-box {
  display: flex;
  flex: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 80vh;
  width: 50%;
  background-image: url('../assets/images/Diamond.png');
  background-position: right 20px bottom 10px;
  background-repeat: no-repeat;
  background-attachment: scroll; 
  background-size: contain;
  justify-content: center;
  align-items: center;
}

.paragraph-wrapper {
  width: 480px;
  word-wrap: break-word;
}

.diamond-responsive {
  display: none;
}