.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  min-height: 100vh;
}

.cover-section {
  display: flex;
  flex:1;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('../assets/images/cover.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

.cover-header {
  height: 60px;
  display: flex;
  flex-direction: row;
}

.cover-content {
  display: flex;
  min-height: 40vh;
  align-items: center;
  padding-left: 80px;
}

.cover-title {
  display: flex;
  /* min-height: 20vh; */
  background-color: #7246CE;
  opacity: 0.7;
  align-items: center;
  padding-left: 80px;
}

.title-box {
  display: flex;
  flex-direction: column;
}

.content-section {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex: 1;
}

.logo-box {
  display: flex;
  flex:1;
  align-items: center;
  justify-content: flex-start;
  padding-left: 24px;
}

.nav-box {
  display: flex;
  flex:2;
  align-items: center;
}

.action-box {
  display: flex;
  flex:1;
  align-items: center;
  justify-content: flex-end;
  padding-right: 24px;

}
