.cover-content-title {
  font-size: 48px;
  color: #ffffff;
}

.exit-wrapper {
  height: 32px;
  width: 32px;
  margin-left: 10px;
}

.img {
  height: 100%;
  width: 100%;
}

.logo-wrapper {
  height: 30px;
  width: 100px;
}

.cotent-left-title {
  font-size: 48px;
  color: #262A94;
}

.paragraph {
  color: #ffffff;
  font-size: 32px;
  padding-bottom: 24px;
}

.cover-header {
  background-color:rgba(196, 173, 244, 0.6);
  box-shadow: 0 1px 1px 1px #7246CE;
}

.logo-box {
  background-color: rgba(255, 255, 255, 0.5);
}

.nav-box {
  background-color: rgba(255, 255, 255, 0.5);
}

.action-box {
  background-color: rgba(255, 255, 255, 0.5);
}

.hamburger-box {
  display: none;
}

.hamburger-wrapper {
  width: 48px;
  height: 48px;
}